node_modules/
dist/
.env

structure.txt
backend/package-lock.json
backend/dbTest.js
frontend/package-lock.json
frontend/README.md
frontend/public/favicon.ico
frontend/public/logo192.png
frontend/public/logo512.png
frontend/src/logo.svg
frontend/src/reportWebVitals.js
frontend/src/setupTests.js
