node_modules/
dist/
.env

structure.txt
backend/package-lock.json
backend/dbTest.js
frontend/package-lock.json
frontend/README.md
frontend/public/logo192.png
frontend/public/logo512.png
frontend/src/logo.svg
frontend/src/reportWebVitals.js
frontend/src/setupTests.js
backend/dentist-app-475011-e7cc7397f9ab.json
